

.img{
    height: 42px;
    width: 42px;
    margin: 16px;
    
}
.navbar{

float: right;

}
.btn-1{
    border-radius: 27px;
    margin: -10px;
    padding: -10px;
    background-color: coral;
}
.banner-img{
    
    width: 300px;
    height: 270px;
    margin-top: 75px;
    padding: -40px
      
}
.banner-img-bg{
    border-radius: 27px;
    background-color: rgb(223, 221, 196);
}
.btn-2{
   
    
    background-color: coral;
}
.card-img{
    height: 70px;
    width: 70px;
    margin-top: 10px;
    margin-left: 25%;
}
.card-text{
    margin-left: 27%;
}
.moto-img{
    height: 200px;
    width: 220px;
    margin-left: 150%;
    margin-top: -46px;
}